.chess-grid {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 100px);
  width: 800px;
  height: 800px;
}

.cell {
  font-weight: bold;
  font-size: 1.25rem;
}

.file {
  position: relative;
  top: 70px;
  left: 75px;
}

.rank {
  position: relative;
  left: 5px;
}

button {
  position: relative;
  left: 700px;
  top: 1rem;
}

.br {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/br.png);
}

.bn {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/bn.png);
}

.bb {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/bb.png);
}

.bq {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/bq.png);
}

.bk {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/bk.png);
}

.bp {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/bp.png);
}

.wr {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/wr.png);
}

.wn {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/wn.png);
}

.wb {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/wb.png);
}

.wq {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/wq.png);
}

.wk {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/wk.png);
}

.wp {
  background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/100/wp.png);
}
